* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: #e8e8e9;
}

@media (min-width: 1440px) {
  html {
    zoom: 1.5;
  }
}
@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.swiper-slide {
  width: 37rem !important;
  height: 42rem !important;
  position: relative;
}

.swiper-slide img {
  border-radius: 2rem;
}

@media (max-width: 500px) {
  .swiper-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 2rem;
}
