.main {
  width: 100%;
  max-width: 124rem;
  padding: 4rem 1rem;
  margin: 0 auto;
}

.all_imgs_container {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}

@media (max-width: 500px) {
  .all_imgs_container {
    height: 47rem;
  }
}
